<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.2.1.js">
    </script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/5/sketchy/bootstrap.css" />

    <title>Resume Parser</title>
</head>

<body>
    <div class="container">

    <div class="row">
        <h1 id="forms">Resume Parser</h1>
        <p>A simple resume parser used for extracting information from resume in pdf, docx or txt format</p>
    </div>
    <div class="row">
        <div class="col-lg-6">
    <form id="uploadForm">       
            <label class="form-label mt-4">Please upload your Resume</label><label id="filechosen" style="color: red;">&nbsp;&nbsp;&nbsp;File not chosen</label>
            <input type = "file" id ="file" name = "file" class="form-control" onchange="showFileChosen()"/>
        </div>
    </div>
    <input id = "updateButton" type = "submit"  class="btn btn-primary mt-3" onclick="uploadFile()"/>
    <input type = "reset" onclick="resetChosen()" class="btn btn-primary mt-3"/>
    </form>  
    </div>
    <script>

        function showFileChosen() {
            mywords = document.getElementById("filechosen");
            if (document.getElementById("file").files.length == 0) {
                mywords.innerHTML = "&nbsp;&nbsp;&nbsp;File not chosen";
                mywords.style = "color: red;"
            } else {
                mywords.innerHTML = "&nbsp;&nbsp;&nbsp;File chosen";
                mywords.style = "color: green;"
            }         
        }

        function resetChosen() {
            mywords = document.getElementById("filechosen");
            mywords.innerHTML = "&nbsp;&nbsp;&nbsp;File not chosen";
            mywords.style = "color: red;"
        }

        function uploadFile() {
            if (document.getElementById("file").files.length == 0) {
                alert("Please choose a file");
                return;
            }
            const file = document.getElementById("file").files[0];
            const file_types =[".txt",".pdf",".docx"];
            const type = file.name.substring(file.name.indexOf("."));
            if (file_types.indexOf(type) == -1){
                alert("Please choose a file in right format");
                return;
            }

            targetForm = document.getElementById("uploadForm");
            targetForm.action = "/display";
            targetForm.method = "POST";
            targetForm.enctype = "multipart/form-data";
        }

        function successfulUpload() {
            
        }
    </script>
</body>

</html>